header {
    height: 700px;
    background-color: red;
}

div {
    height: 200px; 
}

img {
    height: 100%;
    mask: url("../");
}

/*svg {
    height: 100%;
    mask-image: url("../img/profile_pic.jpg");
    mask-size: contain;
}*/
