header {
    height: 700px;
    background-color: red;
}

div {
    height: 200px; 
    background-image: url("../img/profile_pic.jpg");
    mask-image: url("../img/profile_pic.jpg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
}

/*svg {
    height: 100%;
    mask-image: url("../img/profile_pic.jpg");
    mask-size: contain;
}*/
