header {
    /*height: 150px;
    background-color: blue;*/
}

header nav:first-child {
    height: 200px;
}

header nav:first-child a, 
.logo {
    display: block;
}

header nav:last-child {
    height: 100px;
}

footer {
    background-color: red;
    height: 300px;
}

.logo

.hero > div:first-child {
    height: 700px;
    background-color: lightseagreen;
}

.prof-pic.svg-clip {
    height: 100%;
    -webkit-clip-path: url(#svg-clip);
    clip-path: url(#svg-clip);
}

svg,
svg image {
    height: 100%;
    width: auto;
}
