header {
    height: 700px;
    background-color: red;
}

div {
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

svg {

    fill: blue;
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}
